<div class="navbar navbar-expand-lg bg-warning" id="footer">
    <div class="container">
        <div class="d-none d-sm-none d-md-block">
            <div href="#" class="h4 text-primary">
                <svg class="bi bi-house-fill mb-2" width="1.6em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 01-1.5 1.5h-9A1.5 1.5 0 012 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 011.414 0l6.647 6.646a.5.5 0 01-.708.708L8 2.207 1.354 8.854a.5.5 0 11-.708-.708L7.293 1.5z" clip-rule="evenodd"/>
              </svg>Address</div>
            <h6 class="mt-4">Balconi Bakchodi</h6>
            <h6 class="font-weight-normal">Kp-7, KIIT, Bhubaneshwar, Orissa</h6>
            <h6 class="font-weight-normal">Tel: + 91 22 35637000 / 7001</h6>
            <h6 class="font-weight-normal">Email: BalconiBakchodi@kiit.ac.in</h6>
            <h6 class="font-weight-normal">Website: www.BB@kiit.ac.in</h6>
        </div>

        <div class="line d-none d-sm-none d-md-block"></div>

        <div class="d-none d-sm-none d-md-none d-lg-block">
            <div href="#" class="h4 text-primary">Links</div>
            <table class="table-sm mt-3">
                <tr>
                    <td class="px-3"><a href="#" class="text-dark">Home</a></td>
                    <td class="px-3"><a href="#" class="text-dark">Bakchodi</a></td>
                </tr>
                <tr>
                    <td class="px-3"><a href="#" class="text-dark">Join Us</a></td>
                    <td class="px-3"><a href="#" class="text-dark">Facilities</a></td>
                </tr>
                <tr>
                    <td class="px-3"><a href="#" class="text-dark">Hot Topics</a></td>
                    <td class="px-3"><a href="#" class="text-dark">Emergency</a></td>
                </tr>
                <tr>
                    <td class="px-3"><a href="#" class="text-dark">Calander</a></td>
                    <td class="px-3"><a href="#" class="text-dark">Awards</a></td>
                </tr>
                <tr>
                    <td class="px-3"><a href="#" class="text-dark">About Us</a></td>
                    <td class="px-3"><a href="#" class="text-dark">Diary</a></td>
                </tr>
                <tr>
                    <td class="px-3"><a href="#" class="text-dark">Contact Us</a></td>
                    <td class="px-3"><a href="#" class="text-dark">location</a></td>
                </tr>
            </table>
        </div>

        <div class="line d-none d-sm-none d-md-none d-lg-block"></div>

        <div>
            <div href="#" class="h4 text-primary">For joining</div>
            <h5>Please email your queries to</h5>
            <a href="#" class="text-decoration-none"><img src="/images/gmailColor.png" class="logo"> Balconibakchodi@kiit.ac.in</a>
            <hr>
            <div class="mb-2">
                <a href="#"><img src="/images/linkedin.png" class="logo"></a>
                <a href="#"><img src="/images/facebook.png" class="logo"></a>
                <a href="#"><img src="/images/snapchat.png" class="logo"></a>
                <a href="#"><img src="/images/youtube.png" class="logo"></a>
                <a href="#"><img src="/images/twitter.png" class="logo"></a>
                <a href="#"><img src="/images/pinterest.png" class="logo"></a>
                <a href="#"><img src="/images/instagram.png" class="logo"></a>
                <a href="#"><img src="/images/whatsapp.png" class="logo"></a>
            </div>
            <a href="#" class="h4 text-decoration-none">&#xa9; Balconi Bakchodi</a>
        </div>
    </div>
</div>
</body>
</html>