<%- include ('partials/header') %>
        <div class="container-fluid" id="achivement_image">
           <div class="row">
            <div class="col-9"></div>
            <div class="col-3 mt-4">
                <div class="button"><img src="/images/bakconi_cover2.jpg" class="icon"><a href="#" class="product">Exam Bakchodi</a></div>
                <div class="button mt-2"><img src="/images/bakconi_cover2.jpg" class="icon"><a href="#" class="product">Life Bakchodi</a></div>
                <div class="button mt-2"><img src="/images/bakconi_cover2.jpg" class="icon"><a href="#" class="product">Hostel Bakchodi</a></div>
                <div class="button mt-2"><img src="/images/bakconi_cover2.jpg" class="icon"><a href="#" class="product">Game Bakchodi</a></div>
                <div class="button mt-2"><img src="/images/bakconi_cover2.jpg" class="icon"><a href="#" class="product">Girlfriend Bakchodi</a></div>
                <div class="button mt-2"><img src="/images/bakconi_cover2.jpg" class="icon"><a href="#" class="product">Home Bakchodi</a></div>
                <div class="button mt-2"><img src="/images/bakconi_cover2.jpg" class="icon"><a href="#" class="product">Trip Bakchodi</a></div>
                <div class="button mt-2"><img src="/images/bakconi_cover2.jpg" class="icon"><a href="#" class="product">Hall of Fame</a></div>
            </div>
            </div>
        </div>
<%- include ('partials/footer') %>