body{
    background-image: url(images/background3.jpg);
    background-position: top;
    background-size: cover;
    height: 100vh;
}
.box{
   width: 500px;
   padding: 40px;
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
}
.box h1{
   color: black;
   text-transform: uppercase;
   font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
   border: 0;
   background: none;
   display: block;
   margin: 20px auto;
   text-align: center;
   border: 2px solid #3498db;
   padding: 14px 10px;
   width: 200px;
   outline: none;
   color: white;
   border-radius: 24px;
   transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
   width: 280px;
   border-color: lime;
}
.box input[type = "submit"]{
   border: 0;
   background: none;
   display: block;
   margin: 20px auto;
   text-align: center;
   border: 2px solid yellow;
   padding: 8px;
   width: 200px;
   outline: white;
   border-radius: 24px;
   transition: 0.25s;
   cursor: pointer;
   color:white;
}
.box input[type = "submit"]:hover{
   background: greenyellow;
   border-color: lime;
   color: white;
}

/* landing */
#landing-header {
   z-index: 1;
   position: relative;
   text-align: center;
   padding-top: 40vh;
}

#landing-header h1 {
   color: #fff;
}
.slideshow {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 0;
   list-style: none;
   margin: 0;
   padding: 0;
}
.slideshow li {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-size: cover;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   opacity: 0;
   z-index: 0;
   animation-name: imageAnimation;
   animation-duration: 25s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}
.slideshow li:nth-child(1) {
   background-image: url("/images/background.jpg");
}
.slideshow li:nth-child(2) {
   background-image: url("/images/background2.jpg");
   animation-delay: 5s;
}
.slideshow li:nth-child(3) {
   background-image: url("/images/background4.jpg");
   animation-delay: 10s;
}
.slideshow li:nth-child(4) {
   background-image: url("/images/background5.jpg");
   animation-delay: 15s;
}
.slideshow li:nth-child(5) {
   background-image: url("/images/background6.jpg");
   animation-delay: 20s;
}

@keyframes imageAnimation {
   0% {
       opacity: 0;
       animation-timing-function: ease-in;
   }
   10% {
       opacity: 1;
       animation-timing-function: ease-out;
   }
   20% {
       opacity: 1;
   }
   30% {
       opacity: 0;
   }
}

.no-cssanimations .slideshow li{
   opacity: 1;
}