*{
    margin: 0px;
    padding: 0px;
}
#jumbotron{
    background-image: url(images/IMG_20200202_025526.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
}
#logo{
    width: 60px;
}
#hole{
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
}
.navbar-brand{
    border: 1px solid white;
    padding: 5px;
    font-size: 15px !important ;
    margin-left: 5px;
}
.header_logo{
    width: 15px;
}
.formBox{
    width: 50%;
    margin-left:25%;
}
#signUp{
    background-image: url(/images/background.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 650px;
    float: left;
}
/* <!-- profile --> */
#coverPhoto{
    height: 250px;
}
.dp{
    width: 150px !important;
    height: 150px !important;
    position: absolute;
    top: 160px;
}
.username{
    margin-left: 20%;
}
.logo{
    width: 25px;
}
.list-group-item{
    text-decoration: none !important;
    color: black;
    font-weight: 700;
}
.listRed:hover{
    background-color: #F8F8FF;
    color: red;
}
.listBlue:hover{
    background-color: #F8F8FF;
    color: steelblue;
}
.listGreen:hover{
    background-color: #F8F8FF;
    color: #25D366;
}
.listYellow:hover{
    background-color: #F8F8FF;
    color: #ffc107;
}
.listPrimary:hover{
    background-color: #F8F8FF;
    color: #00acee;
}
.listPink:hover{
    background-color: #F8F8FF;
    color:#E1306C ;
}
.listBlack:hover{
    background-color: #F8F8FF;
    color: #232323;
}
#post{
    width: 100%;
    height: 450px;
}
.post_reaction{
    height: 30px;
    width: 30px;
    margin-left: 30%;
}
.post_reaction_comment{
    height: 30px;
    width: 30px;
    margin-left: 15%;
    margin-top: 3px;
}
/* slider */
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 300px;
    background: #fff;
}
#body-img-top{
    height: 200px;
}
.card_background{
    background-image: url(/images/background.jpg);
    background-position: center;
    background-size: cover;
}
/* footer  */
#footer{
    height: 300px;
}
.line{
    width: 1px;
    background-color: white;
    height: 220px;
    margin-top: 40px;
}

/* home */
#display{
    display: inline;
}

/* aboutUs */
.pic{
    height: 200px;
}

/* acivement */

.icon{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.button{
    border:1px solid #3498db;
    padding: 8px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 80%;
    background-color:#c1c2c3;
    transition: 0.25s;
    cursor: pointer;
}
.button:hover{
    border-color:  #2ecc71;
    width: 90%;
}
.product{
    margin-left: 20px;
    color: black;
    
}
.product:hover{
    text-decoration: none;
}
#achivement_image{
    background-image: url(/images/background8.jpg);
    background-position: center;
    background-size: cover;
    height: 550px;
}